.big-article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(101, 94, 87, 0.1);

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right:10px;
  }
  &__date {
    font-family: var(--montR);
    font-size: 12px;
    font-weight: 600;
    color:var(--disable);
  }
  &__header {
    color: var(--accent);
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  &__image {
    width: 50%;

    img{
      width:100%;
      object-fit: cover;
    }
  }
  &__link {
    color:var(--accent);

  }
  &__rubric {
    color: var(--standart);
    font-family: var(--latoR);
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  }
  &__text {
    font-family: var(--montR);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:var(--text);
  }
}
