.topbar-menu{
    position: absolute;
    width: 100%;
    height:50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:white;
    background-color: rgba(0, 0, 0, 0.380);
    z-index: 2;
}

.topbar-container{
    max-width:1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
 
}

@media(max-width:1240px){
    .topbar-container{
        margin:0 20px;
    }
}

@media(max-width:960px){
    .topbar-container{
        justify-content: space-between;
    }
}

.topbar-logo{
    margin-right: 20px;
}

.topbar-menu-sections{
    
}

@media(max-width:960px){
    .topbar-menu-sections{
        display: none;
    }
}

.topbar-menu-link{
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 14px;
}

.topbar-menu-link::after{
    content:'|';
    color:#FFC579;
    margin-left: 20px;
}

.topbar-menu-social{
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
}

@media(max-width:960px){
    .topbar-menu-social{
        display: none;
    }
}

.topbar-menu-social-contactMe{
    margin-right: 20px;
}

.topbar-menu-social-contactMe::before{
    content:'|';
    color:#FFC579;
    margin-right: 20px;
}

.topbar-menu-social-icons{
    margin-right: 20px;
}

.topbar-menu-sublogo{
    display: none;
}

@media(max-width:960px){
    .topbar-menu-sublogo{
      display: block;
    }
}

.topbar-menu-dropdown-menu-container{
    display: none;
}

@media(max-width:960px){
    .topbar-menu-dropdown-menu-container{
        display: block;
        cursor: pointer;
    }
}