.rubric-background{
    width:100%;
    background-image: url(../../../../static/images/background.png);
}

.rubric-container{
    max-width:1240px;
    margin: 0 auto;
    padding:70px 0;
}

.rubric-header{
    margin:0 auto;
    font-family: "Lato";
    text-align: center;
    letter-spacing: 0.05em;
    color:white;
}

.rubric-header h2{
    margin-bottom:10px;
    font-size: 30px;
    text-transform: uppercase;
}

@media(max-width:1024px){
    .rubric-header h2{
        font-size: 26px;
    }
}

.rubric-header-welcomeText{
    position: relative;
    width:800px;
    margin: 0 auto 65px auto;
    font-family:"Montserrat-regular";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    word-wrap: normal;
}

@media(max-width:1024px){
    .rubric-header-welcomeText{
        font-size: 16px;
        width:550px;
    }
}
@media(max-width:580px){
    .rubric-header-welcomeText{
        width:400px;
    }
}

.rubric-header-welcomeText::after{
    position: absolute;
    bottom:-20px;
    left:47%;
    content:"";
    width:45px;
    background-color:#FFC579 ;
    height:1px;
}

.rubric-sections{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media(max-width:1250px){
    .rubric-sections>:nth-child(2){
        margin-right: 0;
    }
}

