@font-face {
    font-family: 'Lato';
    src: local('Lato') url(./fonts/LatoBold.ttf) format('ttf');
  }

@font-face {
  font-family: 'Lato_regular';
  src: local('Lato_regular') url(./fonts/LatoRegular.ttf) format('ttf');
}
