@font-face {
    font-family:"Montserrat-regular";
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    src: url('fonts/LatoRegular.ttf') format('truetype');
}

body{
    font-family:"Lato", "Montserrat-regular";
}

